* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;

    background-color: #eee
}

main {
    background-color: #2c43c4;

    width: 400px;
    height: 600px;

    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);

    text-align: center;
}

.title {
    padding: 24px 0;
}

h1 {
    font-size: 38px;
    color: white;
}

.calculator {
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

input#display {
    padding: 40px 18px;
    text-align: right;

    width: 400px;
    outline: none;

    font-size: 36px;
    border-bottom: none;

    border: none;

    caret-color: #2c43c4;
}

input#display-result {
    padding: 12px 18px;
    text-align: right;

    width: 400px;
    outline: none;
    border: none;

    border-bottom: 1px solid #2c43c4;

    color: rgb(122, 122, 122);

    font-size: 28px;

    transition: color 1s;
}


input#display-result.update {
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: white;

    height: 100%;
    width: 100%;
}

.grid button {
    background-color: transparent;
    border: none;

    cursor: pointer;
    outline: none;
}

.grid button:hover {
    border-bottom: 1px solid #2c43c4;
}

.numbers button {
    font-size: 28px;
}

.operators button {
    color: #2c43c4;
    font-weight: bold;
}

.operators button.hidden {
    visibility: hidden;
}

.grid .numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    border-right: 1px solid #2c43c4;
}

.grid .operators {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}